.auth-form{
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #EE6C4D;
  display: flex;
  flex-direction: column;
  padding-top: 40pt;
  margin-top: 200pt;
  align-items: center;
}

.auth-form .buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20pt;
}

.form-input{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 75%;
  border: black solid 1px;
  border-radius: 3px;
  text-transform: unset;
}

.form-input:focus{
  box-shadow: 0 0 5px #118AB2;
}

.toggle-button{
  border: none;
  background-color: #fff;
  color: #118AB2;
  margin-top: -10px;
  margin-bottom: 10px;
}

.submit-button{
  align-items: center;
  padding: 10px;
  width: 20%;
  border: #118AB2 solid 1px;
  border-radius: 6cqmin;
  text-transform: unset;
  cursor: pointer;
  color: #EE6C4D;
}

.submit-button:hover{
  border: #EE6C4D solid 1px;
  color:#118AB2;
}

.form-select{
  align-items: center;
  padding: 10px;
  width: auto;
  border: #118AB2 solid 1px;
  border-radius: 6cqmin;
  text-transform: unset;
  cursor: pointer;
  color: #EE6C4D;
}


/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.logoutbutton{
  height: 30pt;
  background-color: #EE6C4D;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-right: 30px;
  margin-top: 5pt;
}
/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 60px; /* Adjust based on your navbar height */
  height: 100%;
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Content styling */
.content {
  margin-left: 250px; /* Adjust based on your sidebar width */
  padding: 20px;
  margin-top: 60px; /* Adjust based on your navbar height */
}